* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'InterVariable';
    src: url('/font/InterVariable.woff2') format('woff');
    font-weight: 100 900;
    font-style: normal;
}

body {
    font-family: 'InterVariable', sans-serif;
}

ul,
li,
ol,
a {
    list-style: none;
    text-decoration: none;
}


/* header style */


.wrapper {
    background-image: url(/images/bg.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(12px);
    background-color: black;
}

.header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header__link {
    display: flex;
}

.header__title-box {
    flex-direction: column;
}

.header__title {
    font-weight: 400;
    font-size: 18.6px;
    line-height: 28px;
    text-align: center;
}

.header__title>span {
    font-weight: 700;
}

.header__btn {
    font-weight: 400;
    font-size: 18.9px;
    line-height: 28px;
    border: none;
    cursor: pointer;
    text-align: center;
    color: black;
    padding: 15px 23px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 33px;
    max-width: 215px;
    width: 100%;
}

.header__btn:hover {
    background-color: rgba(255, 255, 255, 0.885);
}


/* hero style */

.hero {}

.hero__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.hero__info {}

.hero__info__title {
    font-weight: 700;
    font-size: 45.9px;
    line-height: 48px;
    max-width: 463px;
    width: 100%;
    margin-bottom: 42px;
    color: white;
}

.hero__info__title>span {
    font-weight: 400;
}

.hero__info__text {
    margin-bottom: 72px;
    font-weight: 400;
    color: white;
    font-size: 18.6px;
    line-height: 24px;
}

.hero__btn {
    background-color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 10px;
    padding: 22px;
    max-width: 300px;
    width: 100%;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 18.8px;
    line-height: 28px;
    text-align: center;
}

.hero__btns {
    background-color: white;
    box-shadow: 0px 1px 2px 0px #0000000D;
    border-radius: 10px;
    padding: 22px;
    max-width: 300px;
    width: 100%;
    border: none;
    display: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 18.8px;
    line-height: 28px;
    text-align: center;
}

.hero__box__images {
    max-width: 700px;
    width: 100%;
    position: relative;
    z-index: 1;
    margin-left: 60px;
}

.hero__row__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #0A0A0A;
    padding: 32px 78px;
    background-color: white;
    box-shadow: 0px 25px 50px -12px #00000040;
    border-radius: 10px;
    position: relative;
    z-index: 5;
    max-width: 650px;
    width: 100%;
    margin-top: -80px;
}

.hero__row__title {
    font-weight: 700;
    font-size: 26.3px;
    line-height: 36px;
}

.hero__box__images__min {
    max-width: 350px;
    width: 100%;
    display: none;
}


/* user style */

.user {
    padding-top: 80px;
    padding-bottom: 30px;
}

.user__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.user__title {
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
}

.user__title>span {
    color: #00A6F4;
}

.user__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.user__info {
    border: 1px solid #E5E5E599;
    box-shadow: 0px 1px 2px -1px #0000001A;
    box-shadow: 0px 1px 3px 0px #0000001A;
    border-radius: 16px;
    max-width: 384px;
    width: 100%;
    padding: 52px 25px 132px;
    position: relative;
    height: 400px;
    overflow: hidden;
}

.user__img {
    position: absolute;
    top: -10px;
    right: 0;
}

.user__imgs {
    position: absolute;
    top: 0px;
    right: 0;
}

.user__info__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 27.5px;
    color: #1C2D55;
    margin-bottom: 16px;
}

.user__info__card {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-bottom: 8px;
}

.user__info__text {
    max-width: 305px;
    width: 100%;
    font-weight: 400;
    font-size: 14.9px;
    line-height: 24px;
}


/* About style */


.about {
    padding-bottom: 80px;
}

.about__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

.about__images {
    max-width: 583px;
    width: 100%;
}

.about__title {
    font-weight: 700;
    font-size: 34.7px;
    line-height: 40px;
    margin-bottom: 24px;
}

.about__title>span {
    color: #00A6F4;
}

.about__row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 21px;
}

.about__col {
    border: 1px solid #1C2D5533;
    border-radius: 33px;
    padding: 8px 13px;
    color: #1C2D55;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.about__text {
    font-weight: 400;
    font-size: 16.9px;
    line-height: 29.25px;
    color: #354669;
    max-width: 573px;
}

.about__text:nth-child(3) {
    margin-bottom: 27px;
    max-width: 572px;
}

.about__text:nth-child(4) {
    margin-bottom: 27px;
    max-width: 577px;
}

.about__text>span {
    font-weight: 700;
}


/* Program */

.program {
    padding-bottom: 80px;
}

.program__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.program__title {
    font-weight: 700;
    font-size: 34.3px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #00A6F4;
    margin-bottom: 64px;
}

.program__card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.program__item {
    background-color: #FCFCFC;
    border: 1px solid #E5E5E599;
    box-shadow: 0px 1px 2px -1px #0000001A;
    box-shadow: 0px 1px 3px 0px #0000001A;
    border-radius: 16px;
    height: 404px;
    padding: 25px;
}

.program__list {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 20px;
}

.program__list-title {
    font-weight: 700;
    font-size: 22.9px;
    line-height: 32px;
    color: #1C2D55;
}

.program__col {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    max-width: 542px;
}


.program__cols {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
    max-width: 542px;
}

.program__col:nth-child(5) {
    max-width: 426px;
}

.program__col:nth-child(7) {
    max-width: 381px;
}

.program__col__text {
    font-weight: 400;
    font-size: 14.9px;
    line-height: 24px;
    color: #354669;
}


/* opinion */

.opinion {
    padding-bottom: 80px;
}

.opinion__container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.opinion__title {
    font-weight: 700;
    font-size: 34.9px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 64px;
}

.opinion__title>span {
    color: #00A6F4;
}

.opinion__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 32px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

.opinion__card {
    background-image: url(/images/opinions/1.avif);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 280px;
    height: 400px;
    border-radius: 14px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.opinion__images {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    cursor: pointer;
}


@media (max-width:1024px) {
    .opinion__box {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        margin: 0 auto;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        max-width: 650px;
    }

    .about__container {
        flex-direction: column;
    }

    .user__box {
        flex-wrap: wrap;
        gap: 24px;
    }

    .hero__container {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .header__btn {
        font-size: 15.1px;
        line-height: 24px;
        padding: 10px;
        width: 100%;
        max-width: 181px;
    }

    .hero {
        padding-bottom: 41px;
    }

    .header__title {
        font-size: 14px;
        line-height: 24px;
    }

    .header__link {
        display: none;
    }

    .hero__info__title {
        font-size: 28px;
        line-height: 36px;
    }

    .hero__info__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 14px;
    }

    .hero__box__images__min {
        display: block;
        margin-bottom: -20px;
    }

    .hero__box__images {
        display: none;
    }

    .hero__btn {
        display: none;
    }

    .hero__btns {
        display: block;
        max-width: 315px;
        z-index: 5;
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        font-size: 18px;
    }


    .user__title {
        font-size: 29px;
        line-height: 36px;
    }

    .hero__row__btn {
        display: none;
    }

    .about__title {
        font-size: 28px;
        line-height: 36px;
    }

    .about__row {
        flex-wrap: wrap;
    }

    .about__col {
        font-size: 13px;
        line-height: 20px;
    }

    .about__text {
        line-height: 29px;
        font-size: 17px;
    }

    .program__card {
        flex-direction: column;
    }

    .program__item {
        height: auto;
    }

    .program__title {
        font-size: 28px;
    }

    .opinion__box {
        grid-template-columns: 1fr;
        max-width: 300px;
    }

    .opinion__card {
        max-width: 358px;
        height: 400px;
        width: 100%;
    }

    .opinion__title {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width:500px) {
    .header__btn {
        max-width: 160px;
        font-size: 14px;
    }
}